@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --grayBlue: #2A3B49;
    --neonBlue: #7BFFE9;
    --white: #FFFFFF;
    --ltgray: #D9D9D9;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
}


/*              HEADER             */

header{
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grayBlue);
}

.pixify{
    color: var(--neonBlue);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;  
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

nav a{
    color: var(--white);
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    cursor: pointer;
}

#mode-btn{
    background-color: transparent;
    border: none;
    color: var(--neonBlue);
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 30px;
    cursor: pointer;
}

/*              MAIN                */

main h2{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 25px 0;
    color: var(--black);
}

main p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0 65px;
}

.about-btn{
    background-color: var(--grayBlue);
    color: var(--neonBlue);
    border: none;
    padding: 35px 65px;
    border-radius: 65px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    margin: 45px 65px;
    width: 400px;
    cursor: pointer;
}

.big-container{
    display: flex;
    padding-top: 75px;
}

.big-container p{
    text-align: left;
    padding: 0 65px 40px 65px;
}

.small-container{
    display: flex;
    flex-direction: column;
    
}

img{
    height: 608px;
    margin: 0 65px 65px 0;
    border-radius: 10px;
}